{% extends "app/layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="container">
    <form>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input id="name" type="text" name="Name" value="{{ city.name }}" placeholder="City's Name">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input id="description" type="text" class="form-control" name="Description" value="{{ city.description }}" placeholder="City's Description"/>
                </div>
            </li>

            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Admin User</span>
                    <input id="adminUser" type="text" class="form-control pull-left" value="a" name="adminuser" disabled>
                    <div class="input-group-btn">
                        <div class="dropdown pull-right" id="adminDropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownButton">
                                Click Here
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" id="adminDropdownList">
                                {% for item in users %}
                                <li><a onclick="setAdminUser()" id="adminSelect">{{ item }}</a></li>
                                {% empty %}
                                <li>No users yet.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Price $</span>
                    <input id="price" type="number" min="0.00" step="1" class="form-control" name="price" value="{{ city.price }}" placeholder="3">
                </div>
            </li>

            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Visibility</span>
                    <input type="text" class="form-control pull-left" disabled>
                    <span class="input-group-btn">
                        <input id="visibility" class="form-control" type="checkbox" value="{{ city.visibility }}" checked data-toggle="toggle">
                    </span>
                </div>
            </li>

            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Map Bounds</span>
                    <input id="mapBounds" type="text" class="form-control pull-left" name="mapBounds" disabled>
                    <span class="input-group-btn">
                        <a href="/cityPolygonUpdate/{{ city.id }}"><span class="btn btn-primary editBut" id="polyEdit"><span class="glyphicon glyphicon-edit"></span>Edit</span></a>
                    </span>
                </div>
            </li>

            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon">Map Points</span>
                    <input id="mapPoints" type="text" class="form-control pull-left" name="mapPoints" disabled>
                    <span class="input-group-btn">
                        <a href="/cityPointsUpdate/{{ city.id }}"><span class="btn btn-primary editBut" id="pointsEdit"><span class="glyphicon glyphicon-edit"></span>Edit</span></a>
                    </span>
                </div>
            </li>
        </ul>
    </form>
    

    <div class="pull-right">
        <button type="button" class="btn btn-success" id="save">Save</button>
        <button type="button" class="btn btn-danger" id="cancel">Cancel</button>
    </div>
</div>

<script>
    adminuser = '{{ city.adminuser }}';
    function getUser() {
        return adminUser
    }
    //var names = ["Jon", "Nick", "Bill", "Daquan"]; //Replace this with an array of admin users from the database
    // window.localStorage.clear();
    //Looks through array and populates dropdown with admin users
    for (var i = 0; i < names.length; i++) {

        var li = document.createElement("LI");
        var a = document.createElement("A");
        var text = document.createTextNode(names[i]);

        a.href = "#";
        a.appendChild(text);
        li.appendChild(a);
        document.getElementById("adminDropdownList").appendChild(li);
    }

    adminUser = document.getElementById('adminUser').value;

    city = document.getElementById('name').value;
    users = '{{ usernames }}';
    function setAdminUser() {
        user = $('#adminSelect').text()
        console.log(user);
        $('#adminUser').val(user);
        //$.ajax({
        //    "type": "GET",
        //    "url": "/getUser/",
        //    "data": {
        //        csrfmiddlewaretoken: '{{ csrf_token }}',
        //    },
        //    "success": function (result) {
        //        console.log(result);
        //    },
        //    "error": function (xhr, status, error) {
        //        console.log(xhr);
        //        console.log(status);
        //        console.log(error);
        //    },
        //});
    }

    //$(function () {

    //    if (localStorage["lists"]) {
    //        var listvalues = localStorage.getItem('lists');
    //        //parse the value
    //        var finalvalue = JSON.parse(listvalues);
    //        console.log(localStorage);
    //        Object.keys(finalvalue).forEach(function (key) {

    //            console.log(key, finalvalue[key]);

    //        });
    //        $('#name').val(finalvalue["name"]);
    //        $('#description').val(finalvalue["description"]);
    //        $('#dropdownButton').html(finalvalue["adminUser"] + "<span class=\"caret\"></span>");
    //        $('#price').val(finalvalue["price"]);
    //        if (finalvalue["visibility"]) {
    //            $('#visibility').prop('checked', true).change()
    //        }
    //        else {
    //            $('#visibility').prop('checked', false).change()
    //        }


    //    }


    //    //replaces dropdown text dynamically
    //    $(".dropdown-menu li a").click(function () {
    //        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    //        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    //    });

    //    $('.dropdown-inverse li > a').click(function (e) {
    //        $('.btnStatus').text(this.innerHTML);
    //    });
    //    //Saves value
    //    $("#save").click(function () {
    //        alert(
    //            "Name: " + $('#name').val() +
    //            "\rDescription: " + $("#description").val() +
    //            "\rAdmin User: " + $('#dropdownButton').text() +
    //            "\rPrice: " + $("#price").val() +
    //            "\rVisibility: " + $('#visibility').prop('checked')
    //        );
    //        var listvalues = {
    //            "name": $('#name').val(),
    //            "description": $("#description").val(),
    //            "adminUser": $('#dropdownButton').text(),
    //            "price": $("#price").val(),
    //            "visibility": $('#visibility').prop('checked')
    //        }
    //        localStorage.setItem('lists', JSON.stringify(listvalues));
    //    });

    //    $('#polyEdit').click(function () {
    //        var listvalues = {
    //            "name": $('#name').val(),
    //            "description": $("#description").val(),
    //            "adminUser": $('#dropdownButton').text(),
    //            "price": $("#price").val(),
    //            "visibility": $('#visibility').prop('checked')
    //        }
    //        localStorage.setItem('lists', JSON.stringify(listvalues));
    //        window.location.href = '/MapPolygonUpdate';
    //    });
    //});


</script>
{% endblock %}
