<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin - Map</title>
  <style>
    #map{
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Map</h1>
  <div id="map"></div>
  <script>
      function initMap() {

        //map options
        var options = {
          zoom: 10,
          center: {lat: 49.246292, lng: -123.116226}
        }

        //create map
        var map = new google.maps.Map(document.getElementById('map'), options);

        // Listen from click on map
        google.maps.event.addListener(map, 'click',
        function(event){

          //Add Marker
          addMarker({coords:event.latLng});
        });
/*
        Basics of Google Maps API
        //add marker
        var marker = new google.maps.Marker({
          position:{lat: 49.246292, lng: -123.116226},
          map:map,
          icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
        });

        //Displays info on marker
        var infoWindow = new google.maps.InfoWindow({
          content: '<h1>Vancouver BC</h1>'
        });

        //Calls infowindow variable to display content
        marker.addListener('click', function(){
          infoWindow.open(map,marker);
        });
*/

      var markers = [
        {
          coords:{lat: 49.246292, lng: -123.116226},
          iconImage:"https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
          description:"<h1>Vancouver</h1>"
        },
        {
          coords:{lat: 49.1967, lng: -123.1815},
          description:"<h1>Vancouver - Airport</h1>"
        }
      ];

      //Looks through markers array and adds markers to map
      for(var i = 0; i < markers.length; i++){
        addMarker(markers[i]);
      }

      //Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
        });

        if(props.iconImage){
          marker.setIcon(props.iconImage);
        }

        if(props.description){
          var infoWindow = new google.maps.InfoWindow({
            content: props.description
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }

    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCROEB3riRr0oF3XNPfS-o3iL7MOEck90I&callback=initMap"
async defer></script>
</body>
</html>
