{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <ul>
        {% for user in  users %}
        <li>
            <div class="row">
                <div class="col-md-6 loginContainer">
                    <div class="row">
                        <div class="col-md-3"><h4><label class="control-label loginFont">{{ user.username }}</label></h4></div>
                        <div class="col-md-9" style="margin-bottom: 10px;">
                            <form action="{% url 'userDelete' user.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}" />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                                </div>
                            </form>
                            <a href="{% url 'userUpdate' user.id %}">
                                <span class="btn btn-success pull-right" style="margin-right: 10px;">Edit</span>
                            </a>
                            <a href="{% url 'changePassword' user.id %}">
                                <span class="btn btn-primary pull-right" style="margin-right: 10px;">Change Password</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
        <li>No Users yet.</li>
        {% endfor %}
        <li>
            <div class="col-md-6">
                <div style="margin-top:20px;">
                    <a href="{% url 'userCreation' %}">
                        <span class="btn btn-primary pull-right">Add New User</span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>


{% endblock %}